body{
    background: white;
}

.firstHead span {
    color: grey;
}
.services {
    display: flex;
    justify-content: center;
}
.services img{
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
}

.services span {
    color: grey;
}

.tagline{
    background-image: url(../img/bg.jpg);
    background-position: bottom;
    background-size: cover;
    height: 700px;
    width: 100%;
}

.tagline h1 {
    font-size: 6rem;
    text-align: center;
    width: 100%;
    background-color: white;
    position: relative;
    top: 70px;

}  

.tagline h2 {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    background-color: white;
    position: relative;
    top: 120px;

}




