body{
    background: white;
}


.firstHead{
    display: flex;
    justify-content: center;
    margin: 80px;
}

.firstHead img {
    width: 400px;
    height: 400px;
   margin: 15px;
    /* margin-top: 70px; */
    border-radius: 100%;
    object-fit: cover;
}
.firstHead span {
    color: grey;
}
.services {
    display: flex;
    justify-content: center;
    margin: 80px;
}

.services img {
    width: 380px;
    height: 380px;
    border-radius: 100%;
    object-fit: cover;
    padding-right: 5px;
}

.services span {
    color: grey;
}










