<!-- your html code here -->
<div class="firstHead row p-5">
    <div class="text col justify-content-center">
        <h1>This First heading <span>Will Catch Your Eye</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
    <img class="rounded-circle img-fluid" src="https://img.freepik.com/fotos-premium/walter-white-personaje-dibujos-animados-breaking-bad-ia-generativa_934475-8556.jpg"
        alt="">
    </div>
</div>