<!-- your html code here -->
<div class="porfolio p-5">
    <h1><span>Porfolio</span></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam maximus sapien sed nulla sodales, quis sagittis
        nibh molestie. Praesent cursus luctus leo, ut facilisis elit semper in. Donec sodales rhoncus volutpat. Donec
        malesuada et justo id commodo. Sed efficitur dolor condimentum, semper ante vehicula, fringilla purus. Praesent
        congue nulla et ultrices blandit. Aliquam sit amet congue dolor. In hac habitasse platea dictumst. Quisque
        pulvinar
        libero in enim aliquet, at tincidunt erat porta. Quisque quis elit ac orci ultrices facilisis. Praesent quam
        ligula,
        ornare vitae suscipit eu, pellentesque et ante. Ut nulla tortor, commodo et nibh nec, faucibus efficitur felis.
        Proin nunc urna, aliquam in eros eu, fermentum mattis sem. Nunc facilisis urna et est dapibus semper. Maecenas
        aliquet libero nec velit finibus luctus.</p>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://images.unsplash.com/photo-1613068687893-5e85b4638b56?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGxlbmd1YWplJTIwZGUlMjBwcm9ncmFtYWNpb258ZW58MHx8MHx8fDA%3D"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam maximus sapien
                        sed
                        nulla sodales, quis sagittis
                        nibh molestie. Praesent cursus luctus leo, ut facilisis elit semper in. Donec sodales rhoncus
                        volutpat.
                        congue nulla et ultrices blandit.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://images.unsplash.com/photo-1615494937408-7f4e41bf45d9?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGVuZ3VhamUlMjBkZSUyMHByb2dyYW1hY2lvbnxlbnwwfHwwfHx8MA%3D%3D"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam maximus sapien
                        sed
                        nulla sodales, quis sagittis
                        nibh molestie. Praesent cursus luctus leo, ut facilisis elit semper in. Donec sodales rhoncus
                        volutpat.
                        congue nulla et ultrices blandit.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://images.unsplash.com/photo-1653387137517-fbc54d488ed8?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGphdmFzY3JpcHR8ZW58MHx8MHx8fDA%3D"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam maximus sapien
                        sed
                        nulla sodales, quis sagittis
                        nibh molestie. Praesent cursus luctus leo, ut facilisis elit semper in. Donec sodales rhoncus
                        volutpat.
                        congue nulla et ultrices blandit.</p>
                </div>
            </div>
        </div>
    </div>
</div>