<!-- your html code here -->
<div class="services row p-5 ">
    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
    <img class="rounded-circle img-fluid" src="https://img.freepik.com/foto-gratis/persona-primer-plano-teclado-mac-inalambrico_23-2148761313.jpg?t=st=1727778675~exp=1727782275~hmac=99bcf70e6f3bfe85bd8df3fcfd727543fd6e2909efe3ff1a0a45e44f501a378c&w=996"
   width="450px">
</div>
    <div class="col-12 col-md-6 col-lg-8 text">
        <h1>This First heading <span>Is Pretty Cool Too</span></h1>

        <p> Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
            rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.Etiam rhoncus. Maecenas tempus,
            tellus eget condimentum rhoncus, sem quam semper libero.</p>
    </div>

</div>